<div class="user-info">
    <div>
        <mat-card *ngIf="user" class="avatar-card">
            <mat-card-header>
                <mat-card-title>{{ user.login }}</mat-card-title>
                <mat-card-subtitle>ID: {{ user.id }}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="user.avatar_url" alt="Avatar" class="avatar-image">
            <mat-card-content class="mt-2">
                <h4>Company:{{user.company}}</h4>
                <h4>Followers:{{user.followers}}</h4>
                <h4>Location:{{user.location}}</h4>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="bar-user-info">
        <canvas #followerChart></canvas>
    </div>
</div>